<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="customribbons:alert" type="Sitecore.Ribbons.Commands.Alert,Sitecore.Ribbons"/>
      <command name="customribbons:tick" type="Sitecore.Ribbons.Commands.Tick,Sitecore.Ribbons"/>
      <command name="customribbons:gallery" type="Sitecore.Ribbons.Commands.Gallery,Sitecore.Ribbons"/>
      <command name="customribbons:dropdown" type="Sitecore.Ribbons.Commands.Dropdown,Sitecore.Ribbons"/>
      <command name="customribbons:inputbox" type="Sitecore.Ribbons.Commands.InputBox,Sitecore.Ribbons"/>
    </commands>
  </sitecore>
</configuration>
